{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<nav class="navbar" style="background-color:#f8ffa8;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0" style="font-weight:bold;font-size: 30px;">Login User</span>
    </div>
</nav>

<div class = "login" style="text-align: center;">

    <h1 style="margin-top: 20px;">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table solid border w-auto" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td style="vertical-align:middle;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="vertical-align:middle;">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>
        <td><input class="btn btn-primary" type="submit" value="Login" style="margin-bottom: 15px;"></td>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="list-style: none;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}